body {
  color: #333;
  font-family: "Inter", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 20px;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

b {
  font-weight: 700;
  color: #3b930e;
}

h1, h2, h3, h4, h5, h6 {
  color: #000ec8;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
  font-weight: 700;
}

h1 { font-size: 2.8em; }
h2 { font-size: 2.2em; }
h3 { font-size: 1.8em; }
h4, h5, h6 { font-size: 1.4em; }

a {
  color: #3182ce;
  text-decoration: none;
  border-bottom: 2px solid #bee3f8;
  transition: all 0.3s ease;
}

a:hover {
  color: #2c5282;
  border-color: #90cdf4;
}

ul, ol {
    font-size: 1.2em;
  padding-left: 30px;
  margin-bottom: 1em;
}


code {
  background-color: #f5f5f5;
  border-radius: 4px;
  color: #ff007e;
  padding: 0.2em 0.4em;
  font-family: "Fira Code", monospace;
  font-size: 0.95em;
}

pre {
  background-color: #f0f0f0;
  border-radius: 6px;
  padding: 1em;
  overflow-x: auto;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}



blockquote {
  background-color: #e2e8f0;
  border-left: 4px solid #3182ce;
  padding: 1em 1.5em;
  margin: 1em 0;
  color: #2d3748;
  font-style: italic;
  border-radius: 6px;
}


img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  border: 1px solid #e2e8f0;
  margin: 1em 0;
}

